body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* heading section style starts here */
.heading-section{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    
    background-size: cover;
}
.top-section-container{
    text-align: center;
    padding-top: 10%;
     padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 100px;
    color: white;
}
.top-section-header{
    font-size: 50px;
    
}
.top-section-pra{
   
    font-size: 15px;
    color: white;
}
.link-button{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 40px;
    background-image: linear-gradient(to right, tomato,orange);
    border-radius: 12px;
}
/* heading section style ends here */

/* second section style starts here */
.second-section-container{
    text-align: center;
    padding-top: 10%;
     padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 100px;
    
}

.second-section-container h1{
    font-size: 50px;
}
.second-section-container p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.622);
}
.flex-div{
    display: flex;
    
    padding-left: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 30px;
}
.flex-div h4{
    padding: 20px;
    margin: 5px;
    border-radius: 12px;
}
.one-1{
    background-color: rgba(241, 247, 251, 0.678);
}
.tow-200{
    background-color: rgba(255, 0, 0, 0.269);
    border: 2px solid red;
}
.input-text{
    width: 80%;
    border: none;
    border-bottom: solid 1px rgba(128, 128, 128, 0.455);
    padding: 10px;
    text-align: center;
    
}
/* second section style ends here */

/* third section style starts here */
.third-section-container{
    text-align: center;
    padding-bottom: 10%;
}
.card{
    display: flex;
    margin: 0 80px;
    
}
.card-item{
    width: 33.33%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    background-color: beige;
    margin: 15px;
    border-radius: 6px;
    padding-bottom: 30px;
}
.card-item p{
    padding-right: 10%;
    text-align: justify;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.566);
}
.third-h1{
    font-size: 50px;
}
.third-p{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 4%;
}
/* third section style ends here */